# Node / PNPM / Yarn / NPM
node_modules/
pnpm-lock.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
.vercel/

# Logs
logs/
*.log
*.log.*
**/logs/
**/*.log

# Env files
.env
.env.*
*.env
# allow examples
!.env.example
!**/.env.example
!**/.env.local.example

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp

# Docker
**/Dockerfile.*.tmp
**/docker-cache/

# Build artifacts
**/dist/
**/build/
coverage/

# Postgres volumes (if any local mounts)
database/data/

# Misc
*.tsbuildinfo

